// 이미지 경로
$imgurl: "../images/";

// 반응형 포인트
$mobileSize: 768px;
$tabletSize: 1024px;

$fontsize: (
  lg: 20px,
  m: 15px,
  sm: 14px,
);

$listlayer: (
  main: 10px 16px,
  sub: 3px 1px,
);

$arrow: (
  up: 165deg,
  down: 45deg,
);


